<!DOCTYPE html>
<html lang="en" class="theme-<%= theme %>">
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#00A9FE" />
    <meta name="og:image" content="favicon.ico" />
    <meta name="og:site_name" content="MultiBrick" />
    <meta
      name="og:description"
      content="A platform built on its community where you can customise your avatar, create and play sets, or just socialise with others!"
    />
    <meta
      name="csrf-token"
      content="<%= csrfToken %>"
    />
    <meta
      name="user-data"
      data-authenticated="<% if (userid) { %>true<% } else { %>false<% } %>"
      <% if (userid) { %>
      data-id="<%= userid  %>"
      data-username="<%= username %>"
      data-membership="<%= membership %>"
      data-bucks="<%= currency %>"
      data-bits="<%= currency2 %>"
      data-tax-rate="<%= taxRate %>"
      data-admin="<% if (role != 'none') { %>true<% } else { %>false<% } %>"
      <% } %>
    />
    <title>Terms of Service - MultiBrick</title>
    <meta name="og:title" content="Terms of Service - MultiBrick" />
    <link href="favicon.ico" rel="icon" />
    <link
      href="https://css.multi-brick.com/<% if (theme == 'dark') { %>c9a0705161b97f89816f.css<% } else { %>f7b9da036e5df9411266.css<% } %>"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://css.multi-brick.com/0ae4afbd7666558dc6c6.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://css.multi-brick.com/fontawsome/releases/v5.6.3/css/all.css"
      
      crossorigin="anonymous"
    />
    <script src="https://js.multi-brick.com/8c41f6cde2f42898e911.js"></script>
    <script src="https://js.multi-brick.com/42dace3b7f5030ab9e4f.js"></script>
    <script src="https://js.multi-brick.com/d8257a0dc2c85177ab9a.js"></script>
    <script src="https://js.multi-brick.com/132d360cdba379aa2c55.js"></script>
    <script src="https://js.multi-brick.com/48610a80d359c8f71476.js"></script>
    <meta name="author" content="MultiBrick" />
  </head>
  <body>
    <%- navbar %>
    <div class="side-ad" id="100128-4">
      <!-- <script src="https://ads.themoneytizer.com/s/gen728f?type=4"></script> -->
      <!-- <script src="https://ads.themoneytizer.com/s/requestformb880?siteId=100128&amp;formatId=4"></script> -->
    </div>
    <div class="side-ad" style="right: 0" id="100128-20">
      <!-- <script src="https://ads.themoneytizer.com/s/gen1bc9?type=20"></script> -->
      <!-- <script src="https://ads.themoneytizer.com/s/reqkuestform88a4?siteId=100128&amp;formatId=20"></script> -->
    </div>
    <div class="main-holder grid">
      <%- multibrickMessage %>

      <notification id="notification-v" class="notification"></notification>
      <style>
        ul {
          margin-left: 1em;
          list-style-position: outside;
          list-style-type: disc;
        }
        li {
          list-style-position: outside;
          list-style-type: disc;
        }
        .card .content {
          padding: 0 10px;
        }
      </style>
      <div class="col-10-12 push-1-12">
        <div class="large-text margin-bottom">Licenses</div>
        <div class="card">
          <div class="top blue">Website Frontend</div>
          <div class="content">
            <p>
              The frontend of the website is licensed under the GNU AGPLv3 License.
              All modifications and changes made can be viewed on our <a href="https://github.com/Malte0621/mbrick-website-frontend">GitHub repository</a>.
              Credits are stated and referenced in the repository & below.

              <br><br>

              <b>Original Authors:</b>
              <ul>
                <li>Jefemy</li>
              </ul>

              <b>Changes:</b>
              <ul>
                <li>Replaced domain references</li>
                <li>Added 100 bucks purchase</li>
                <li>Remove trademarked assets</li>
                <li>Replace merch store with license page</li>
              </ul>

              <b>Project Authors:</b>
              <ul>
                <li>Malte0621</li>
              </ul>
            </p>
          </div>
        </div>
        <div class="card">
          <div class="top blue">Website Backend</div>
          <div class="content">
            <p>
              The backend of the website is not open source and is
              made entirely by Malte0621 from the ground up using
              NodeJS & ExpressJS.

              <br><br>

              <b>Project Authors:</b>
              <ul>
                <li>Malte0621</li>
              </ul>
            </p>
          </div>
        </div>
        <div class="card">
          <div class="top blue">Editor</div>
          <div class="content">
            <p>
              The editor origins from Ty's BrickBuilder which has no license.
              Modifications and reuse was personally allowed by Ty and the
              Editor has since been heavily modified for MultiBrick.
              
              The original project can be found <a href="https://github.com/TyThePotato/BrickBuilder/tree/master">here</a>.

              <br><br>

              <b>Original Authors:</b>
              <ul>
                <li>Ty</li>
              </ul>

              <b>Project Authors:</b>
              <ul>
                <li>Malte0621</li>
              </ul>
            </p>
          </div>
        </div>
        <div class="card">
          <div class="top blue">Player</div>
          <div class="content">
            <p>
              The player origins from Ty's BrickPlayer which has no license.
              Modifications and reuse was personally allowed by Ty and the
              Editor has since been heavily modified for MultiBrick.
              
              The original project can be found on their Discord or on others github repositories.

              Slightly modified version used at the start of the MultiBrick project can be found on my github <a href="https://github.com/Malte0621/MBrickPlayer">here</a>.

              <br><br>

              <b>Original Authors:</b>
              <ul>
                <li>Ty</li>
              </ul>

              <b>Project Authors:</b>
              <ul>
                <li>Malte0621</li>
              </ul>
            </p>
          </div>
        </div>
        <h5>Last Updated: 10th June, 2020</h5>
      </div>
      <div class="col-10-12 push-1-12">
        <div style="text-align: center; margin-top: 20px; padding-bottom: 25px">
          <div id="100128-28">
            <!-- <script src="https://ads.themoneytizer.com/s/gen9747?type=28"></script> -->
            <!-- <script src="https://ads.themoneytizer.com/s/requestform9970?siteId=100128&amp;formatId=28"></script> -->
          </div>
        </div>
      </div>
    </div>
    <main-footer id="mainfooter-v"></main-footer>
  </body>
</html>
