<!DOCTYPE html>
<html lang="en" class="theme-<%= theme %>">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#00A9FE" />
    <meta name="og:image" content="https://www.multi-brick.com/favicon.ico" />
    <meta name="og:site_name" content="Multi-Brick" />
    <meta
      name="og:description"
      content="A platform built on its community where you can customise your avatar, create and play sets, or just socialise with others!"
    />
    <meta
      name="csrf-token"
      content="<%= csrfToken %>"
    />
    <meta
      name="user-data"
      data-authenticated="<% if (userid) { %>true<% } else { %>false<% } %>"
      <% if (userid) { %>
      data-id="<%= userid  %>"
      data-username="<%= username %>"
      data-membership="<%= membership %>"
      data-bucks="<%= currency %>"
      data-bits="<%= currency2 %>"
      data-tax-rate="<%= taxRate %>"
      data-admin="<% if (role != 'none') { %>true<% } else { %>false<% } %>"
      <% } %>
    />
    <title>Settings - MultiBrick</title>
    <meta name="og:title" content="Settings - MultiBrick" />
    <link href="https://www.multi-brick.com/favicon.ico" rel="icon" />
    <link
      href="https://css.multi-brick.com/<% if (theme == 'dark') { %>c9a0705161b97f89816f.css<% } else { %>f7b9da036e5df9411266.css<% } %>"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://css.multi-brick.com/0ae4afbd7666558dc6c6.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://css.multi-brick.com/fontawsome/releases/v5.6.3/css/all.css"
      
      crossorigin="anonymous"
    />
    <script src="https://js.multi-brick.com/8c41f6cde2f42898e911.js"></script>
    <script src="https://js.multi-brick.com/42dace3b7f5030ab9e4f.js"></script>
    <script src="https://js.multi-brick.com/d8257a0dc2c85177ab9a.js"></script>
    <script src="https://js.multi-brick.com/132d360cdba379aa2c55.js"></script>
    <script src="https://js.multi-brick.com/48610a80d359c8f71476.js"></script>
    <meta name="author" content="MultiBrick" />
  </head>
  <body>
    <%- navbar %>
    <dropdown
      id="dropdown-v"
      class="dropdown"
      activator="username-bar"
      contentclass="logout-dropdown"
    >
      <ul>
        <li>
          <a onclick="document.getElementById('logout').submit()">Logout</a>
        </li>
      </ul>
      <form
        method="POST"
        action="https://www.multi-brick.com/logout"
        id="logout"
      >
        <input
          type="hidden"
          name="_token"
          value="<%= csrfToken %>"
        />
      </form>
    </dropdown>
    <div class="side-ad" id="100128-4">
      <!-- <script src="//ads.themoneytizer.com/s/gen.js?type=4"></script> -->
      <!-- <script src="//ads.themoneytizer.com/s/requestform.js?siteId=100128&formatId=4"></script> -->
    </div>
    <div class="side-ad" style="right: 0" id="100128-20">
      <!-- <script src="//ads.themoneytizer.com/s/gen.js?type=20"></script> -->
      <!-- <script src="//ads.themoneytizer.com/s/requestform.js?siteId=100128&formatId=20"></script> -->
    </div>
    <div class="main-holder grid">
      <%- multibrickMessage %>

      <notification id="notification-v" class="notification"></notification>
      <div class="col-10-12 push-1-12">
        <settings id="settings-v"></settings>
      </div>
      <div class="col-10-12 push-1-12">
        <div style="text-align: center; margin-top: 20px; padding-bottom: 25px">
          <div id="100128-28">
            <!-- <script src="//ads.themoneytizer.com/s/gen.js?type=28"></script> -->
            <!-- <script src="//ads.themoneytizer.com/s/requestform.js?siteId=100128&formatId=28"></script> -->
          </div>
        </div>
      </div>
    </div>
    <main-footer id="mainfooter-v"></main-footer>
  </body>
</html>
